<footer>

	<div class="footinfos">
		<div class="footcol">
			<p class="foottitle">Nous contacter</p>
			<p>Écrivez-nous : help@wethenew.com</p>
			<div class="social">
				<img src={{asset('assets/icons/fb.png')}} alt="facebook">
				<img src={{asset('assets/icons/insta.png')}} alt="instagram">
				<img src={{asset('assets/icons/pint.png')}} alt="pinterest">
				<img src={{asset('assets/icons/twit.png')}} alt="twitter">
			</div>
		</div>

		<div class="footcol">
			<p class="foottitle">En savoir plus</p>
			<p>Concept</p>
			<p>Mentions Légales</p>
			<p>Conditions de nos offres</p>
			<p>Politique de Confidentialité</p>
			<p>CGU</p>
			<p>CGV</p>
		</div>

		<div class="footcol">
			<p class="foottitle">Services</p>
			<p>Programme de fidélité</p>
			<p>Nos codes promos</p>
			<p>Envoi & livraison</p>
			<p>Échanges & Remboursements</p>
			<p>Vendez vos produits</p>
			<p>Authenticité & FAQ</p>
			<p>Inscription Newsletter Blueprint</p>
			<p>Recrutement</p>
		</div>
	</div>
	<hr>
	<div class="footfoot">
		© 2023 Wethenewnew.
	</div>

</footer>
