/* GLOBAL SELECTORS -------------------------------------------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 100;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    font-size: 25px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

ul {
    display: flex;
    gap: 50px;
}

ul a {
    color: black;
}

.Logo {
    color: red;
    margin-right: 15px;
    transition: all 0.3s;
    font-weight: 400;
}

a {
    color: black;
}

.container {
    /* margin-top: 30px; */
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    flex-grow: 1;
}

footer {
    text-align: center;
}

/* NAV USER/ADMIN -----------------------------------------------------------------------------------*/

nav a {
    font-size: 26px;
}

nav p {
    font-size: 16px;
}

/* MAIN ----------------------------------------------------------------*/
.hero {
    /* border: 1px solid black; */
    width: 100vw;
    background-color: #e8e8e8;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

.contain-img {
    height: 70vh;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-txt {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
    height: 400px;
}

.hero-txt .hero-new {
    font-size: 65px;
    font-weight: 500;
}

.hero-txt span {
    font-weight: 500;
}

.hero-txt p,
.hero-txt span {
    font-size: 35px;
    font-weight: 100;
}

.btn {
    background-color: black;
    color: #e8e8e8;
    text-align: center;
    font-weight: 300;
    transition: all 0.3s;
}

.btn-home {
    width: 150px;
    padding: 12px;
    font-size: 22px;
    border-radius: 10px;
}

.btn-home:hover {
    background-color: #216535;
    color: #e8e8e8;
}

/* CARD INDEX ------------------------------------------------------------------------*/


.card {
    /* height: 550px; */
    width: 360px;
    padding: 30px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    gap: 5px;
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.071); */
    overflow: hidden;
}

.card img {
    object-fit: cover;
    height: 200px;
    width: 300px;
}

h3,
.price {
    font-weight: 300;
}

.brand {
    font-weight: 500;
    color: rgb(107, 107, 107);
}

/* FORM ---------------------------------------------------------------*/


form {
    margin: 34px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px solid rgba(0, 0, 0, 0.184);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.137);
}


/* ACCOUNT PAGE -------------------------------------------------------------*/

.infos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infos h2,
h3,
table,
.infos p {
    margin: 0.5em;
}

/*BRANDS ------------------------------------------------- */

.brand {
    /* height: 550px; */
    width: 360px;
    padding: 30px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    gap: 5px;
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.071); */
    overflow: hidden;
}

.logomarque {
    width: 80%;
    display: flex;
    justify-content: center;
}

/* FICHE PRODUCT  ----------------------------------------------*/

.card-fiche {
    /* border: 1px solid black; */
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.fiche-txt {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.brand-fiche,
.price-fiche {
    font-size: 18px;
    font-weight: 300;
}

.name-fiche {
    font-size: 28px;
    font-weight: 400;
}

.btn-fiche {
    border: 1px solid red;
    color: red;
    background-color: white;
    padding: 3px;
    transform: all 0.3s;
}

.btn-fiche:hover {
    background-color: red;
    color: white;
}

.fiche-txt span {
    font-weight: 400;
}

/* TABLE --------------------------------------------------------------------------------*/

table,
th,
td {
    border: 1px solid rgba(0, 0, 0, 0);
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

thead th {
    font-size: 18px;
    font-weight: 300;
}

table {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.137);
    width: 600px;
}

.container-table {
    display: flex;
    justify-content: center;
}

th,
td {
    padding: 15px;
    font-weight: 200;
}

tfoot td {
    font-weight: 400;
}